#wrapper {
	position: relative;
	overflow: hidden;
}

a {
	@include animate(color);

	text-decoration: none;
}

.container {
	max-width: 1410px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	text-shadow: 0px 4px 4px rgba(86, 49, 0, 0.1);
	color: $white;
	text-transform: uppercase;
	margin-bottom: 0;

	@include media ('>=widescreen') {
		font-size: 120px;
	}

	span {
		color: #DD7D00;
	}
}

.intro {
	background: radial-gradient(192.45% 192.47% at 50% 128.94%, #FFBD68 0%, #FF940A 100%);

	.subtitle {
		display: block;
		color: #B12331;
		text-transform: uppercase;
		text-shadow: 0px 2px 2px rgba(199, 112, 0, 0.1);

		@include media ('>=desktop') {
			font-size: 30px;
		}
	}
}

.sales-filter {
	// background: radial-gradient(192.45% 192.47% at 50% 128.94%, #FFFFFF 0%, #E9E9E9 100%);

	@include media(">=widescreen") {
		padding: 58px 0 114px;
	}

	.container {
		@include media(">=tablet") {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.sidebar-box {
		@include media(">=tablet") {
			max-width: 319px;
			width: 100%;
		}
	}

	.filter-box {
		@include media(">=tablet") {
			width: calc(100% - 319px);
		}

		@include media(">=widescreen") {
			padding-left: 54px;
			padding-top: 2px;
		}

		h2 {
			color: #3c2650;
			text-shadow: 0px 4px 4px rgba(66, 45, 85, 0.1);
			font-weight: 700;
			text-transform: uppercase;

			@include media(">=desktop") {
				font-size: 40px;
			}

			@include media(">=widescreen") {
				margin-bottom: 60px;
			}
		}

		.load-more {
			font-size: 20px;
			position: relative;
			font-weight: 700;
			color: #4e3e5c;
			margin-left: 11px;

			&:hover {
				&:before {
					opacity: 1;
				}
			}

			&:before {
				@include animate(opacity);

				content: "";
				position: absolute;
				bottom: -4px;
				right: -5px;
				left: -5px;
				height: 1px;
				background-color: #4e3e5c;
				opacity: 1;
			}
		}
	}

	.drop-btn {
		text-align: center;
		width: 100%;
		font-size: 20px;
		text-transform: uppercase;
		color: #3c2650;
		background: #ac8bc9;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
		border-radius: 15px;
		display: block;
		font-weight: 700;
		padding: 20px 10px;
		margin-bottom: 16px;
	}

	.hidden-item,
	.hidden {
		opacity: 0;
		position: absolute;
		left: -9999px;
		top: 0;
	}

	.result-message {
		display: none;
		text-align: center;
	}

	&.no-results {
		.result-message {
			display: block;
		}
	}
}

.link-list {
	@extend %listreset;

	display: flex;
	flex-wrap: wrap;

	@include media(">=tablet") {
		margin: 0 -25px 28px;
	}

	li {
		transition: opacity 0.5s linear;

		@include media(">=tablet") {
			width: 50%;
			padding: 0 20px;
		}

		@include media(">=desktop") {
			width: 33.33%;
			padding: 0 25px 35px;
		}
	}

	a {
		@include animate(box-shadow);

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		min-height: 114px;
		background: linear-gradient(180deg, rgba(234, 234, 234, 0) 0%, #f3f3f3 100%), #ffffff;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
		padding: 2px 10px;

		&:hover {
			box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
		}

		&.kasta {
			background: linear-gradient(0deg, #070707, #070707), #ffffff;
		}

		&.telemart {
			background: linear-gradient(0deg, #484f59, #484f59), #ffffff;
		}
	}
}

.sort-list {
	@extend %listreset;

	@include media(">=desktop") {
		font-size: 20px;
	}

	li {
		margin-bottom: 25px;

		@include media(">=desktop") {
			margin-bottom: 32px;
		}
	}

	a {
		font-weight: 700;
		color: #8d8d8d;
		position: relative;

		&:before {
			@include animate(opacity);

			content: "";
			position: absolute;
			bottom: -4px;
			right: -5px;
			left: -5px;
			height: 1px;
			background-color: #4e3e5c;
			opacity: 0;
		}

		&:hover,
		&.active {
			color: #4e3e5c;

			&:before {
				opacity: 1;
			}
		}
	}
}

.search-form {
	position: relative;
	margin-bottom: 28px;

	input {
		@include animate(outline);

		height: 47px;
		width: 100%;
		border-radius: 15px;
		box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.07);
		outline: 1px solid transparent;
		padding: 5px 18px;
		border: none;
		background-color: #f8f8f8;

		&:focus {
			outline-color: #ac8bc9;
		}

		@include placeholder {
			font-size: 12px;
			color: #ccc;
			font-weight: 700;
			line-height: 1;
		}
	}

	button {
		color: $white;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 25px;
		width: 60px;
		background-color: #ac8bc9;
		border: none;
		border-radius: 0 15px 15px 0;
		box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
	}
}

.newsletter-section {
	background: radial-gradient(192.45% 192.47% at 50% 128.94%, #FFBD68 0%, #FF940A 100%);
}

.loader-holder {
	display: none;
	padding: 20px 0;
}

.loading .loader-holder {
	display: block;
}

.loader {
	margin: 100px auto;
	font-size: 25px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: load5 1.1s infinite ease;
	animation: load5 1.1s infinite ease;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
@-webkit-keyframes load5 {
	0%,
	100% {
		box-shadow: 0em -2.6em 0em 0em #ac8bc9, 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2),
			2.5em 0em 0 0em rgba(172, 139, 201, 0.2), 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.2),
			0em 2.5em 0 0em rgba(172, 139, 201, 0.2), -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.2),
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.5), -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.7);
	}
	12.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.7), 1.8em -1.8em 0 0em #ac8bc9,
			2.5em 0em 0 0em rgba(172, 139, 201, 0.2), 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.2),
			0em 2.5em 0 0em rgba(172, 139, 201, 0.2), -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.2),
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.2), -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.5);
	}
	25% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.5), 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.7),
			2.5em 0em 0 0em #ac8bc9, 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.2),
			0em 2.5em 0 0em rgba(172, 139, 201, 0.2), -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.2),
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.2), -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2);
	}
	37.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.2), 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.5),
			2.5em 0em 0 0em rgba(172, 139, 201, 0.7), 1.75em 1.75em 0 0em #ac8bc9,
			0em 2.5em 0 0em rgba(172, 139, 201, 0.2), -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.2),
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.2), -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2);
	}
	50% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.2), 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2),
			2.5em 0em 0 0em rgba(172, 139, 201, 0.5), 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.7),
			0em 2.5em 0 0em #ac8bc9, -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.2),
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.2), -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2);
	}
	62.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.2), 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2),
			2.5em 0em 0 0em rgba(172, 139, 201, 0.2), 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.5),
			0em 2.5em 0 0em rgba(172, 139, 201, 0.7), -1.8em 1.8em 0 0em #ac8bc9,
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.2), -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2);
	}
	75% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.2), 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2),
			2.5em 0em 0 0em rgba(172, 139, 201, 0.2), 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.2),
			0em 2.5em 0 0em rgba(172, 139, 201, 0.5), -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.7),
			-2.6em 0em 0 0em #ac8bc9, -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2);
	}
	87.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.2), 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2),
			2.5em 0em 0 0em rgba(172, 139, 201, 0.2), 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.2),
			0em 2.5em 0 0em rgba(172, 139, 201, 0.2), -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.5),
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.7), -1.8em -1.8em 0 0em #ac8bc9;
	}
}
@keyframes load5 {
	0%,
	100% {
		box-shadow: 0em -2.6em 0em 0em #ac8bc9, 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2),
			2.5em 0em 0 0em rgba(172, 139, 201, 0.2), 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.2),
			0em 2.5em 0 0em rgba(172, 139, 201, 0.2), -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.2),
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.5), -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.7);
	}
	12.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.7), 1.8em -1.8em 0 0em #ac8bc9,
			2.5em 0em 0 0em rgba(172, 139, 201, 0.2), 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.2),
			0em 2.5em 0 0em rgba(172, 139, 201, 0.2), -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.2),
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.2), -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.5);
	}
	25% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.5), 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.7),
			2.5em 0em 0 0em #ac8bc9, 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.2),
			0em 2.5em 0 0em rgba(172, 139, 201, 0.2), -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.2),
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.2), -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2);
	}
	37.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.2), 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.5),
			2.5em 0em 0 0em rgba(172, 139, 201, 0.7), 1.75em 1.75em 0 0em #ac8bc9,
			0em 2.5em 0 0em rgba(172, 139, 201, 0.2), -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.2),
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.2), -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2);
	}
	50% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.2), 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2),
			2.5em 0em 0 0em rgba(172, 139, 201, 0.5), 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.7),
			0em 2.5em 0 0em #ac8bc9, -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.2),
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.2), -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2);
	}
	62.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.2), 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2),
			2.5em 0em 0 0em rgba(172, 139, 201, 0.2), 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.5),
			0em 2.5em 0 0em rgba(172, 139, 201, 0.7), -1.8em 1.8em 0 0em #ac8bc9,
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.2), -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2);
	}
	75% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.2), 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2),
			2.5em 0em 0 0em rgba(172, 139, 201, 0.2), 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.2),
			0em 2.5em 0 0em rgba(172, 139, 201, 0.5), -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.7),
			-2.6em 0em 0 0em #ac8bc9, -1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2);
	}
	87.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(172, 139, 201, 0.2), 1.8em -1.8em 0 0em rgba(172, 139, 201, 0.2),
			2.5em 0em 0 0em rgba(172, 139, 201, 0.2), 1.75em 1.75em 0 0em rgba(172, 139, 201, 0.2),
			0em 2.5em 0 0em rgba(172, 139, 201, 0.2), -1.8em 1.8em 0 0em rgba(172, 139, 201, 0.5),
			-2.6em 0em 0 0em rgba(172, 139, 201, 0.7), -1.8em -1.8em 0 0em #ac8bc9;
	}
}